.button {
    border: none;
    font-size: 14px;
    background-color: GhostWhite; 
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.button:hover {
    background-color: Gainsboro;
}


