.colorPickerContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.colorPicker__input[type="color"] {
    width: 58px; 
    height: 45px; 
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 5px;
}
