.slideList {
    border-right: 2px solid Silver;
    overflow-y: auto;
}

.item {
    margin: 10px;
    border-radius: 10px;
    pointer-events: none;
    border: none;
    border: 1px solid #dadce0;
}

.emptySlideList {
    border-right: 2px dashed Silver;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    padding: 10px;
}

.emptyMessage {
    text-align: center;
    color: rgb(170, 170, 170);
}

.selectedSlide {
    margin: 10px;
    border-radius: 10px;
    pointer-events: none;
    border: 3px solid #0b57d0;
}