.workspace {
    padding: 20px;
    margin: 0 auto;
}

.emptyWorkspace {
    border: 1px dashed Silver; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 160px;
}

.emptyMessage {
    text-align: center;
    color: rgb(170, 170, 170); 
}
